@page "/"
@inject ISkillsService SkillsService
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<h3>Add new learnned skill</h3>

<EditForm Model="Skill" OnSubmit="HandleSubmit">
    @*<div class="form-group">
                        <label>Description</label>
                        <InputText @bind-Value="Skill.Description" class="form-control"></InputText>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>*@
    <div class="form-row">
        <div class="col-lg-3 col-sm-6 mb-2">
            <label>Description</label>
            <InputText @bind-Value="Skill.Description" class="form-control"></InputText>
        </div>
        <div class="col-lg-3 col-sm-6 mb-2">
            <label>Description</label>
            <InputText @bind-Value="Skill.Description" class="form-control"></InputText>
        </div>
        <div class="col-lg-3 col-sm-6 mb-2">
            <label>Description</label>
            <InputText @bind-Value="Skill.Description" class="form-control"></InputText>
        </div>
        <div class="col-lg-3 col-sm-6 mb-2">
                <button type="submit" class="btn btn-primary w-100">
                    Add Skill
                </button>
        </div>
    </div>
</EditForm>

<h3>Skills list</h3>

@if (SkillsService.Skills.Count == 0)
{
                           <span>Loading Skills...</span>
}
else
{
                                     <table class="table">
                                         <thead>
                                               <tr>
                                                  <th>Category</th>
                                                  <th>Description</th>
                                                 <th>Date</th>
                                                   <th></th>
                                                </tr>
                                          </thead>
                                     <tbody>
            @foreach (var skill in SkillsService.Skills)
            {
                                                                                                       <tr>
                                                                                                                                                                                   <td>@skill.Category</td>                                                             
                                                                                                                                                                                   <td>@skill.Description</td>
                                                                                                                                                                                   <td>@skill.Date</td>


                                                                                                    <td>
                                                                                                                                                                                                                                <button class="btn btn-primary">Delete</button>
                                                                                                                                                                                                                            </td>
                                                                                                                                                                                 </tr>
            }
                                                                                                            </tbody>
                                                                                                        </table>
}



@code {
    public SkillsTrack.Core.Models.Skill Skill { get; set; } = new SkillsTrack.Core.Models.Skill();


    protected override async Task OnInitializedAsync()
    {
        await SkillsService.GetSkillsAsync();
    }

    async void HandleSubmit()
    {
        await JSRuntime.InvokeVoidAsync("console.log", Skill);
    }
}